table {
    width: 100%;
  }
  
  th {
    text-align: left;
  }
.hdrcell{
text-align: left;
font-weight: bold;
font-size: 16px;
  }
  .stutitle{
    font-size: 18px;
    padding-bottom: 18px;
  }